name: Terraform Destroy

on:
  workflow_dispatch:
    inputs:
      confirm:
        description: 'Type APPLY to confirm'
        required: true

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  destroy:
    runs-on: ubuntu-latest
    environment: env-Azure_LB
    if: github.event.inputs.confirm == 'DESTROY'

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      - name: Terraform Init
        run: terraform init


      - name: Terraform destroy
        run: terraform destroy -var ssh_pub_key="$(cat azure_key.pub)" -auto-approve