name: Terraform Apply

on:
  workflow_dispatch:
    inputs:
      confirm:
        description: 'Type APPLY to confirm'
        required: true

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  apply:
    runs-on: ubuntu-latest
    environment: env-Azure_LB
    if: github.event.inputs.confirm == 'APPLY'

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Debug Secrets
        run: |
          echo "Client ID length: ${#CLIENT_ID}"
          echo "Tenant ID length: ${#TENANT_ID}"
        env:
          CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        run: terraform init

      - name: Terraform apply
        run: terraform apply -var ssh_key_pub="$(cat azure_key.pub)" -auto-approve